#wrapper {
  overflow: hidden;
  display: inline-block;
}

#red {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.red1 {height: 33%;
}

.red2 {height: 33%;
}

.red3 {height: 33%;
}

#orange {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.orange1 {height: 33%;

}

.orange2 {height: 33%;

}

.orange3 {height: 33%;

}

#yellow {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.yellow1 {height: 33%;

}

.yellow2 {height: 33%;

}

.yellow3 {height: 33%;

}

#green {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.green1 {height: 33%;

}

.green2 {height: 33%;

}

.green3 {height: 33%;

}

#blue {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.blue1 {height: 33%;

}

.blue2 {height: 33%;

}

.blue3 {height: 33%;

}

#violet {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.violet1 {height: 33%;

}

.violet2 {height: 33%;

}

.violet3 {height: 33%;

}
