#wrapper {
  overflow: hidden;
  display: inline-block;
}

#red {
    width: 100px;
    height: 500px;
    background-color: rgb(255,0,0);
    margin-left: 100%;
}

.red1 {height: 10%;
       background-color: rgb(230,0,0);
}

.red2 {height: 50%;
       background-color: rgb(240,0,0);
}

.red3 {height: 40%;
       background-color: rgb(220,0,0);
}

#blue {
    width: 100px;
    height: 500px;
    background-color: rgb(0,0,255);
    margin-left: 100%;
}

.blue1 {height: 33%;
       background-color: rgb(0,0,240);
}

.blue2 {height: 33%;
       background-color: rgb(0,0,230);
}

.blue3 {height: 33%;
       background-color: rgb(0,0,200);
}
