#wrapper {
  overflow: hidden;
  display: inline-block;
}

#red {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.red1, .red2, .red3 {
  height: 33%;
}

#orange {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.orange1, .orange2, .orange3 {
  height: 33%;
}

#yellow {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.yellow1, .yellow2, .yellow3 {
  height: 33%;
}

#green {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.green1, .green2, .green3 {
  height: 33%;
}

#blue {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.blue1, .blue2, .blue3 {
  height: 33%;
}

#indigo {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.indigo1, .indigo2, .indigo3 {
  height: 33%;
}

#violet {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.violet1, .violet2, .violet3 {
  height: 33%;
}
