body{
  font-family: 'arcadeclassic';
  color: white;
  background-color: black;
  overflow: hidden;
}

#wrapper {
  display: inline-block;
}

#red {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:0px;

    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.red1, .red2, .red3 {
  height: 33%;
}

#orange {
    position: absolute;
    width: 100px;
    height: 900px;
    top:0px;
    right:-100px;
}

.orange1, .orange2, .orange3 {
  height: 33%;
}

#yellow {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-200px;
    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.yellow1, .yellow2, .yellow3 {
  height: 33%;
}

#green {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-300px;
    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.green1, .green2, .green3 {
  height: 33%;
}

#blue {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-400px;
    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.blue1, .blue2, .blue3 {
  height: 33%;
}

#indigo {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-500px;
    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.indigo1, .indigo2, .indigo3 {
  height: 33%;
}

#violet {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-600px;
    /*width: 100px;
    height: 900px;
    margin-left: 100%;
    display: inline-block;*/
}

.violet1, .violet2, .violet3 {
  height: 33%;
}

h1{
  position: absolute;
  z-index: 0;
  width: 200px;
  top: 0px;
  left: 9px;
}

#instructions {
  position: absolute;
  border: 1px dashed white;
  z-index: 0;
  width: 200px;
  top: 50px;
  left: 9px;
}

@font-face {
    font-family:'arcadeclassic';
    src: url(fonts/arcadeclassic-webfont.eot);
    src: url(fonts/arcadeclassic-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/arcadeclassic-webfont.woff2) format('woff2'),
         url(fonts/arcadeclassic-webfont.woff) format('woff'),
         url(fonts/arcadeclassic-webfont.ttf) format('truetype'),
         url(fonts/arcadeclassic-webfont.svg#arcadeclassic) format('svg');
    font-weight: normal;
    font-style: normal;
}
