#wrapper {
  overflow: hidden;
  display: inline-block;
}

#red {
    width: 100px;
    height: 500px;
    margin-left: 100%;
}

.red1 {height: 10%;
       width: 100%;
       border: 1px solid black;
}

.red2 {height: 50%;
         width: 100%;
       border: 1px solid black;
}

.red3 {height: 40%;
         width: 100%;
       border: 1px solid black;
}


/*#blue {
    width: 100px;
    height: 500px;
    background-color: rgb(0,0,255);
    margin-left: 100%;
}

.blue1 {height: 33%;
       background-color: rgb(0,0,240);
}

.blue2 {height: 33%;
       background-color: rgb(0,0,230);
}

.blue3 {height: 33%;
       background-color: rgb(0,0,200);
}*/
