/*HARDMODE*/

body{
  font-family: 'arcadeclassic';
  color: white;
  background-color: black;
  overflow: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  display: inline-block;
}

#white {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:0px;
  color: black;
}

#white1, #white2, #white3 {
  height: 33%;
}

#gray {
  position: absolute;
  width: 100px;
  height: 900px;
  top:0px;
  right:-200px;
}

#gray1, #gray2, #gray3 {
  height: 33%;
}

#black {
    position: absolute;
    width: 100px;
    height: 900px;
    top:0px;
    right:-100px;
}

#black1, #black2, #black3 {
  height: 33%;
}

h1{
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 0px;
  left: 9px;
}

#instructions {
  position: absolute;
  border: 1px dashed white;
  z-index: 0;
  width: 200px;
  top: 50px;
  left: 9px;
}

#start {
  display: visible;
  z-index: 0;
}

#counter {
  font-size:38px;
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 17px;
  left: 190px;
}

#gameover {
  display: none;
  font-size:100px;
  position: absolute;
  z-index: 1;
  width: 900px;
  top: 150px;
  left: 500px;
}

#victory {
  display: none;
  font-size:100px;
  position: absolute;
  z-index: 1;
  width: 900px;
  top: 150px;
  left: 250px;
}

#treasure {
  display: none;
  font-size:100px;
  position: absolute;
  z-index: 1;
  width: 900px;
  top: 200px;
  left: 725px;
}

#skullnbones {
  display: visible;
  position: absolute;
  z-index: 1;
  width: 900px;
  bottom: 0;
  left: 0;
}

@font-face {
    font-family:'arcadeclassic';
    src: url(fonts/arcadeclassic-webfont.eot);
    src: url(fonts/arcadeclassic-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/arcadeclassic-webfont.woff2) format('woff2'),
         url(fonts/arcadeclassic-webfont.woff) format('woff'),
         url(fonts/arcadeclassic-webfont.ttf) format('truetype'),
         url(fonts/arcadeclassic-webfont.svg#arcadeclassic) format('svg');
    font-weight: normal;
    font-style: normal;
}
