<header>
    <a href="/"><div class="logo animated fadeInUp">Maxwell Stern</a></div>
</header>

<div class="about">
    <div class="black">
      <p class="animated fadeInUp">
        <a href="mailto:stern.maxwell@gmail.com">Email</a>
      </p>

      <p class="animated fadeInUp">
        <a href="https://www.linkedin.com/in/maxwellstern">LinkedIn</a>
      </p>

      <p class="animated fadeInUp"><a href="https://github.com/sternmd">Github</a>
      </p>
    </div>
</div>
