<div id="body">
<div id="spacemonkey" class="animated fadeInUp"></div>

  <header>
      <a href="#top"><div class="logo animated fadeInUp">Maxwell Stern</a></div>

    <ul class="navi_fade">
      <li class="animated fadeInUp"><a href="/contact">Contact</a></li>
      <li class="animated fadeInUp"><a href="#work">Work</a></li>
      <li class="animated fadeInUp"><a href="#about">About</a></li>

    </ul>
  </header>

  <div class="main">
     <div class="work_link animated fadeInUp">
     	<a class="scroll" href="#work">Work</a>
     </div>

     <div class="about_link animated fadeInUp">
     	<a class="scroll" href="#about">About</a>
     </div>

     <div class="contact_link animated fadeInUp">
     	<a class="scroll" href="/contact">Contact</a>
     </div>
  </div><!--main-->
</div>

  <div class="about" id="about">
        <div class="black">
          <p class="wow bounceInUp">
            <span class="scarlet">By day I develop, design, and create for the web.</span> I'm well-versed in front-end development, seo, and analytics, with a growing passion for interaction design. I strive to continuously learn new techniques and code ideas into action with a holistic, humanistic approach.
          </p>
          <p class="wow bounceInUp">
            By night I run <a href="https://www.etsy.com/shop/nimbusprintshop">Nimbus Prints</a> (I love screenprinting!) and make music for Chicago art collective <a href="http://www.studiomosaic.org">Studio Mosaic</a>. I also enjoy playing guitar, DJing, reading, writing, and wilderness travel.
          </p>

        </div>
  </div>

 <ul class="grid cs-style-4" id="work">
				<li>
					<figure>
						<div><img src="images/beatitudes.png" class="wow bounceInUp" alt="Beatitudes"></div>
						<figcaption>
							<h3>Beatitudes</h3>
							<span><strong>Built With: </strong>Node/Express.js, HTML5/CSS3/JS, Bootstrap Less</span>
              <p>Beatitudes is a simple app that generates quotes and displays books by classic Beat Generation writers. </p>
							<a href="http://beatitudes.io">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/studiomosaic.png" class="wow bounceInUp" alt="Studio Mosaic"></div>
						<figcaption>
							<h3>Studio Mosaic</h3>
							<span><strong>Built With: </strong>HTML5/CSS3/JS, Skeleton, Masonry.js</span>
              <p>Studio Mosaic is a Chicago art collective, digital music label, and independent publisher.</p>
							<a href="http://dribbble.com/shots/1118904-Game-Center">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/mucharts.png" class="wow bounceInUp" alt="Mu Chart Generator"></div>
						<figcaption>
							<h3>/Mu/sic Chart Generator</h3>
							<span><strong>Built With: </strong>Express.js, React, MongoDB, HTML5/CSS3/JS, Less</span>
              <p>
                A RESTful app that allows users to build and share mu charts (album cover flowcharts).
              </p>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
        <li>
					<figure>
						<div><img src="images/caspian.png" class="wow bounceInUp" alt="Caspian App"></div>
						<figcaption>
							<h3>Caspian</h3>
							<span><strong>Built With: </strong>Ruby, Sinatra, HTML/CSS/JS, Bootstrap</span>
              <p>Caspian is an emergency management app, for any trip. App stores and prresents important In-Case-of-Emergency (ICE) information. The app is meant to be used while camping, and contains the ability to hold information that is specific to the user's trip.</p>
							<a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/roygbiv.png" class="wow bounceInUp" alt="ROYGBIV: The Game"></div>
						<figcaption>
							<h3>ROYGBIV</h3>
							<span><strong>Built With: </strong>HTML5/CSS3/JS</span>
              <p>
                ROYGBIV (pronounced [ROY-JEE-BIV]) is a color-matching puzzle game. The goal of the game is for a user to determine the brightest colored row in a moving stack of rows. ROYGBIV is a one-player game, but can be multiplayer (users take turns) with the purpose of a single user gaining the highest score. The player with the best colorvision wins!
              </p>
							<a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
						</figcaption>
					</figure>
				</li>

				<li>
					<figure>
						<div><img src="images/bowie.jpg" class="wow bounceInUp" alt="Nimbus Prints"></div>
						<figcaption>
							<h3>Nimbus Prints</h3>
							<span><strong>An Etsy shop</strong></span>
              <p>
                Nimbus Prints is a DIYnamic screenprinting boutique in Chicago. Our fan-based t-shirt designs are inspired by anime, manga, otaku culture, music, film, & more!
              </p>
							<a href="http://dribbble.com/shots/1117308-Phone">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
