.scarlet {
  color: #E74C3C;
}
.white {
  color: #fff;
}
a {
  color: #555;
}
@font-face {
  font-family: 'Brandon Grotesque Black';
  src: url('../fonts/brandon_blk-webfont.eot');
  src: url('../fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_blk-webfont.woff2') format('woff2'), url('../fonts/brandon_blk-webfont.woff') format('woff'), url('../fonts/brandon_blk-webfont.ttf') format('truetype'), url('../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('../fonts/brandon_reg-webfont.eot');
  src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff2') format('woff2'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 150px;
  line-height: 0.93em;
  font-family: 'Brandon Grotesque Black';
  display: block;
  text-align: center;
  width: 80%;
  height: 150px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 0;
  z-index: 4;
  color: #000;
  letter-spacing: -1px;
  font-weight: normal;
}
h2 {
  font-size: 65px;
  line-height: 1.2em;
  font-family: 'Brandon Grotesque Black';
  display: block;
  text-align: center;
  position: absolute;
  width: 500px;
  margin: auto;
  left: -40px;
  top: -30px;
  right: 0;
  padding: 0;
  z-index: 4;
  color: #444;
  letter-spacing: 0px;
  font-weight: normal;
  -webkit-animation: fadeInUp 0.7s ease;
  animation: fadeInUp 0.7s ease;
}
h2 a {
  color: #fff !important;
}
h2 a:hover {
  text-decoration: line-through;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
body {
  padding: 0;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
#body {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: relative;
  background: #1e1e1e;
  z-index: 999999;
  margin-bottom: 480px;
}
.wrapper {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header {
  height: 114px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 3;
}
header span a {
  display: block;
  position: absolute;
  font-family: 'Brandon Grotesque Black';
  font-size: 15px;
  top: 45px;
  left: 49px;
  color: #fff;
  letter-spacing: 1.2px;
}
header span a:hover {
  border-bottom: 1px solid #000;
}
.logo {
  position: fixed;
  top: 40px;
  left: 50px;
  font-family: 'Brandon Grotesque Black';
  font-size: 30px;
  z-index: 999999;
  color: #E74C3C;
  height: 20px;
  letter-spacing: 1.2px;
  text-align: left;
}
.logo a {
  border-bottom: 3px solid #E74C3C;
}
.contact_link {
  display: block;
  position: fixed;
  font-family: 'Brandon Grotesque Black';
  font-size: 30px;
  bottom: 40px;
  height: 20px;
  right: 50px;
  text-align: right;
  color: #555;
  letter-spacing: 1.2px;
  z-index: 66666;
}
.contact_link a {
  color: #555;
}
.contact_link a:hover {
  border-bottom: 3px solid #E74C3C;
}
.work_link {
  position: fixed;
  top: 40px;
  right: 50px;
  font-family: 'Brandon Grotesque Black';
  font-size: 30px;
  z-index: 999999;
  color: #555;
  height: 20px;
  letter-spacing: 1.2px;
  text-align: right;
}
.work_link a {
  color: #555;
}
.work_link a:hover {
  border-bottom: 3px solid #E74C3C;
}
.about_link {
  position: fixed;
  bottom: 40px;
  left: 50px;
  font-family: 'Brandon Grotesque Black';
  font-size: 30px;
  z-index: 999999;
  color: #555;
  height: 20px;
  letter-spacing: 1.2px;
  text-align: left;
  -webkit-animation: fade_left 0.7s ease;
  /* Chrome, Safari, Opera */
  animation: fade_left 0.7s ease;
}
.about_link a {
  color: #555;
}
.about_link a:hover {
  border-bottom: 3px solid #E74C3C;
}
header ul {
  display: block;
  position: absolute;
  font-family: 'Brandon Grotesque Black';
  font-size: 15px;
  top: 30px;
  right: 50px;
  height: 20px;
}
@media (max-width: 800px) and (min-width: 0px) {
  header ul {
    top: 25px;
  }
}
header ul li {
  float: left;
  list-style-type: none;
  margin-left: 125px;
  letter-spacing: 1.2px;
}
@media (max-width: 800px) and (min-width: 0px) {
  header ul li {
    float: right;
    margin-left: 40px;
  }
}
header ul li a:link,
header ul li a:visited,
header ul li a:active {
  color: #555;
  text-decoration: none;
  font-size: 30px;
}
header ul li a:hover {
  border-bottom: 3px solid #E74C3C;
}
.about {
  margin: 0 auto;
  padding: 45px;
  box-sizing: border-box;
  font-size: 62px;
  line-height: 1.10em;
  letter-spacing: -1px;
  font-family: 'Brandon Grotesque Regular';
  text-align: justify;
  color: #555;
  position: relative;
}
@media (max-width: 750px) and (min-width: 0px) {
  .about p {
    font-size: 30px;
    text-align: left;
  }
}
@media (max-width: 750px) and (min-width: 0px) {
  .about {
    font-size: 30px;
  }
}
.about a {
  color: #E74C3C;
}
.about a:hover {
  text-decoration: line-through;
}
.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.main section .page_container {
  position: absolute;
  top: 100px;
  right: 105px;
  margin: 0;
  width: 60%;
  height: calc(0%);
  z-index: 3;
  background-size: cover;
  background-position: bottom right;
}
.main section {
  overflow: hidden;
}
.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}
.navi_fade {
  display: none;
}
/* Grid Layout for Work */
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid li {
  display: inline-block;
  width: 70%;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}
@media (max-width: 550px) and (min-width: 0px) {
  .grid li {
    width: 95%;
  }
}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: #555;
  color: #E74C3C;
}
.grid figcaption h3 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
  color: #fff;
  font-family: 'Brandon Grotesque Black';
  font-weight: lighter;
  padding-bottom: 5px;
}
@media (max-width: 750px) and (min-width: 0px) {
  .grid figcaption h3 {
    font-size: 24px;
  }
}
.grid figcaption p {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  font-size: 16px;
  font-family: 'Brandon Grotesque Regular';
  text-align: justify;
  color: #fff;
}
@media (max-width: 800px) and (min-width: 0px) {
  .grid figcaption p {
    display: none;
  }
}
@media (max-width: 1070px) and (min-width: 0px) {
  .grid figcaption p.third {
    display: none;
  }
}
.grid figcaption span {
  padding: 20px;
  font-family: 'Brandon Grotesque Regular';
  display: block;
  padding-top: 1px;
}
@media (max-width: 1000px) and (min-width: 0px) {
  .grid figcaption span.hide {
    display: none;
  }
}
.grid figcaption a {
  font-family: 'Brandon Grotesque Black';
  font-weight: lighter;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #E74C3C;
  color: #fff;
}
/* Caption Style */
.cs-style-4 li {
  -webkit-perspective: 1700px;
  -moz-perspective: 1700px;
  perspective: 1700px;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}
.cs-style-4 figure {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 50px;
}
.cs-style-4 figure > div {
  overflow: hidden;
}
.cs-style-4 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}
.cs-style-4 figcaption {
  height: 100%;
  width: 50%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
.cs-style-4 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#spacemonkey {
  position: absolute;
  width: 1045px;
  height: 1160px;
  top: 50%;
  left: 50%;
  margin-top: -390px;
  margin-left: -380px;
}
.git {
  position: absolute;
  bottom: 0px;
  left: 40px;
  font-family: 'Brandon Grotesque Black';
  font-weight: lighter;
  text-align: left;
  width: 10%;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
}
@media (max-width: 1000px) and (min-width: 0px) {
  .git {
    display: none;
  }
}
